html {
  font-family: "Lora";
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.title {
  font-weight: bold;
  font-family: "Lora";
  font-size: 1.4rem;
}

#menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.center {
  text-align: center;
}

.m-y-2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.menu-item {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
}

.hidden {
  display: none !important;
}

#login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/bg-01.jpg");
  background-size: cover;
  box-sizing: border-box;
}

#login-button {
  padding: 10px 20px;
  background-color: #ee1a26;
  color: white;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  border: none;
  transition: 100ms ease background-color;
}

#login-button:hover {
  background-color: #ff000d;
}

#login > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  box-sizing: border-box;
}

#login input {
  display: block;
}

nav > div {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

nav {
  top: 0px;
  background: #ee1a26;
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  padding: 10px 20px;
  height: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 0.9rem;
}


th {
  height: 40px;
  background-color: yellow;
  font-weight: bold;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 4px;
  text-align: left;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #f4f4f4;
}

dialog {
  min-width: 300px;
  width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  opacity: 0;
  transition-property: overlay display opacity;
  transition-duration: 200ms;
  transition-behavior: allow-discrete;
  box-sizing: border-box;
}

dialog[open] {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

dialog::backdrop {
  transition-property: opacity display overlay;
  transition-duration: 200ms;
  opacity: 0;
  transition-behavior: allow-discrete;
  background-color: rgba(0, 0, 0, 0.8);
}

dialog[open]::backdrop {
  opacity: .95;
}

button {
  text-align: center;
  border-radius: 6px;
}

.btn {
  padding: 12px;
  border: none;
  cursor: pointer;
}

.btn-edit {
  padding: 2px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#add-item {
  display: block;
  padding: 12px;
  background-color: #ee1a26;
  border: none;
  cursor: pointer;
  color: white;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}



.small-width-column {
  width: 70px;
  text-align: center;
}

input, select {
  padding: 8px;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-family: inherit;
  font-weight: 600;
}

#admin .form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#admin .form-content {
  margin-bottom: 20px;
}

input.left-align {
  text-align: left;
}

.btn-primary {
  background-color: #ee1a26;
  color: white;
}

#login input {
  width: 100%;
  display: inline-block;
  margin-bottom: 28px;
}

#login input[type="password"]
{
  margin-bottom: 12px;
}


#login label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

#login .title {
  margin-bottom: 40px;
}

#validation-message {
  color: purple;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

dialog label {
  display: block;
  margin-bottom: 10px;
}

dialog input, dialog select {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

dialog input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

td[scope="row"]:hover {
  background-color: #ee1a250e;
  cursor: pointer;
}

nav > div {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.not-visible {
  visibility: hidden;
}

