body {
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
}

#menu-form {
  margin: 16px;
  flex-direction: column;
  gap: 8px;
}

#menu-form input,
#menu-form button {
  padding: 8px;
  font-size: 16px;
}

.hidden {
  display: none !important;
}

#login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

a {
  text-decoration: none;
}

.title {
  margin-bottom: 40px;
}

nav {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: rgb(255 127 39);
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  padding: 10px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}